/* COLORS */
/* #102D61 */
/* #6C96E6 */
/* #2567E0 */
/* #2E4061 */
/* #1D50AD */

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box; 
}
*,
*:before,
*:after {
    box-sizing: inherit;
}


/* ----- Utility Styles ---- */

.container {
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;
}
  
.img-right {
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}
  
.img-left {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #c0c0c0;
    padding: 5px;
}
  
.img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

/* ---- Responsive Images ----*/
img {
    max-width: 100%;
    height: auto;
}
  
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
  
header.primary {
    background-color: #181c1f;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    /* Shorhand T,R,B,L*/
    padding: 6em 2em;
    position: relative;
}
  
header.primary::before {
    content: "";
    background-image: url("");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
  
header.primary h1 {
    font-size: 3.2rem;
    margin: 20px 0;
    position: relative;
}
  
header.primary h1 a {
    color: #ffffff;
    background-image: url("");
    display: block;
    width: 460px;
    height: 70px;
    margin: 0 auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
  
header.primary h2 {
    font-family: "Goldman", cursive;
    font-size: 2em;
    /* Shorhand Three Value Top, Left/Right, Bottom*/
    margin: 20px auto 40px;
    position: relative;
}

header.primary nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    max-width: 900px;
    margin: 20px auto;
}
  
header.primary nav li {
    list-style-type: none;
    padding: 0;
    width: 20%;
}
  
header.primary nav a:link,
header.primary nav a:visited {
    color: white;
    text-decoration: none;
    background-color: #000000;
    background-color: rgba(142, 166, 184, 0.4);
    padding: 8px 16px;
    border-radius: 10px;
    transition: 0.6s;
    display: block;
}
  
header.primary nav a:hover,
header.primary nav a:active {
    background-color: rgba(51, 83, 107, 0.8);
  }

